/*
 *= require font-awesome
*/


$font-size-base: 15px;
$nav-link-hover-bg: transparent;

@import "bootstrap";
@import "highlight";
@import "campo";
@import "topics";
@import "posts";
@import "post_votes";

body {
  background: #eee;
}
