$font-size-base: 15px;
$nav-link-hover-bg: transparent;

@import "bootstrap";
@import "highlight";
@import "campo";
@import "topics";
@import "posts";

body {
  background: #eee;
}

.container {
  max-width: 800px;
}
