/*
 *= require font-awesome
*/


$font-size-base: 15px;

@import "bootstrap";
@import "highlight";
@import "nprogress";
@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";
@import "markdown";

body {
  background: #eee;
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
