.navbar-campo {
  background: #fff;
  border-bottom: 1px solid #ddd;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));


  .navbar-toggle .icon-bar {
    background-color: #ccc;
  }

  a {
    color: #555;

    &:hover {
      color: #333;
    }
  }
}

.nav-campo {
  border-bottom: 3px solid #ddd;

  li {
    float: left;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom: 3px solid $link-color;
    }

    &:first-child {
      a {
        margin-left: -15px;
      }
    }

    &.pull-right {
      a {
        margin-right: -15px;
      }
    }

    a {
      color: #555;

      &:hover {
        color: #333;
      }
    }
  }
}

.breadcrumb-campo {
  background: white;
  @include box-shadow(0 0 6px #ccc);
}

.panel-campo {
  @include box-shadow(0 0 6px #ccc);

  .panel-heading {
    background: #f5f5f5;
    border-color: #ddd;

    .breadcrumb {
      padding: 0;
      margin: 0;
      background: transparent;

      a {
        color: #555;

        &:hover {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}

.campo-editor {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  @include box-shadow(0 2px 0 #ddd);

  .nav-tabs {
    margin: 0 -15px 15px;
    padding: 0 15px;
  }

  textarea {
    margin: 0;
    padding: 0;
    border: none;
    @include box-shadow(none);

    &:focus {
      border: none;
      @include box-shadow(none);
    }
  }
}
