.navbar-campo {
  background: #fff;
  border-bottom: 1px solid #ddd;

  .navbar-toggle .icon-bar {
    background-color: #ccc;
  }

  a {
    color: #555;

    &:hover {
      color: #333;
    }
  }
}

.panel-campo {
  border: 1px solid #ccc;

  .panel-heading {
    background: #f5f5f5;
    border-color: #ddd;

    .breadcrumb {
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
  }

  .header {
    .title {
      margin: 0 0 45px;
    }

    .nav-tabs {
      padding: 0 15px;
      margin: 0 -15px;
    }
  }
}
