.navbar-campo {
  background: #fff;
  border-bottom: 1px solid #ddd;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));

  .navbar-toggle .icon-bar {
    background-color: #ccc;
  }

  a {
    color: #555;

    &:hover {
      color: #333;
    }
  }
}

.header-campo {
  margin: 0 0 20px;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  .breadcrumb {
    padding: 0;
    background: transparent;
    margin-bottom: 10px;

    a {
      color: #555;

      &:hover {
        color: 333;
      }
    }
  }
}

.list-group-campo {
}

.list-group-item-campo {
  padding: 15px;
  margin-bottom: 2px;
  border: 1px solid transparent;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));

  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}

.campo-editor {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  @include box-shadow(0 2px 0 #ddd);

  .nav-tabs {
    margin: 0 -15px 15px;
    padding: 0 15px;
  }

  textarea {
    margin: 0;
    padding: 0;
    border: none;
    @include box-shadow(none);

    &:focus {
      border: none;
      @include box-shadow(none);
    }
  }
}

.pagination-campo {
  .pages {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix();

    .page {
      display: block;
      float: left;

      &.gap {
        .btn {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .btn {
      padding: 3px 9px;
      margin: 0 1px;

      &.active,
      &:hover {
        background: $brand-primary;
        color: white;
      }
    }
  }

  .popover {
    max-width: 480px;
  }

  .popover-content {
    padding: 4px;
  }
}
