.navbar {
  background: white;
  border-bottom: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &.navbar-inverse {
    background: #222;

    .navbar-brand {
      color: $gray-lighter;
    }

    .navbar-nav > li {
      > a {
        color: $gray-light;

        &:hover {
          color: $gray-lighter;
        }
      }

      &.active {
        > a {
          color: $gray-lighter;
        }
      }
    }
  }

  .navbar-brand {
    color: $gray-dark;
    line-height: 50px;
    padding: 0 15px;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-nav > li {
    > a {
      color: $gray-light;
      padding: 0 15px;
      line-height: 50px;

      &:hover {
        color: $link-color;
        background: transparent;
      }
    }

    &.active {
      > a {
        color: $link-color;
      }
    }
  }

  .img-avatar {
    height: 24px;
    width: 24px;
  }

  .navbar-right {
    float: right;
    margin-right: -15px;

    > li {
      float: left;
    }

    .open .dropdown-toggle {
      color: $link-color;
      background: transparent;
    }

    .item-user {
      line-height: 40px;
      @include clearfix();

      img {
        height: 32px;
        width: 32px;
        margin-top: 4px;
        float: left;
      }
    }

    .item-user-content {
      margin-left: 40px;
    }
  }

  .navbar-toggle {
    display: none;
  }

  @media (max-width: $grid-float-breakpoint) {
    .navbar-header {
      float: left;
    }

    .navbar-nav {
      margin: 0;

      .open .dropdown-menu {
        position: absolute;
        border: 1px solid $dropdown-fallback-border; // IE8 fallback
        border: 1px solid $dropdown-border;
        background-color: $dropdown-bg;
        @include box-shadow(0 6px 12px rgba(0,0,0,.175));
      }

      > li > a {
        padding: 0 15px;
      }
    }

    .navbar-right {
      margin-right: -15px;
    }

    .navbar-collapse {
      border: none;
      padding: 0;
    }

    .navbar-toggle {
      display: block;
      padding: 0;
      margin: 0;
    }
  }
}

.breadcrumb {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel {
  .panel-heading {
    margin: 0 -1px;
    padding: 10px 16px;
    border-bottom: 1px solid #eee;

    .nav li a {
      padding: $padding-base-vertical $padding-base-horizontal;
    }

    .breadcrumb {
      padding: 0;
      margin: 0;
      background: transparent;

      .active {
        color: $gray-dark;
      }
    }
  }

  .panel-title {
    line-height: 35px;
    font-size: 1.2em;
  }

  .panel-footer {
    margin: 0 -1px;
    padding: 10px 16px;
    border-top: 1px solid #eee;
    background: transparent;
  }
}

.list-group-campo {
  margin: -15px -16px;
  padding: 0;

  .list-group-item {
    padding: 15px 16px;
    border: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .list-group-item-remove {
    margin-top: -$padding-base-vertical;
    margin-right: -$padding-base-horizontal;
    float: right;
    color: $gray-light;

    &:hover {
      color: $gray-dark;
      box-shadow: none;
    }
  }

  .list-group-item-link {
    margin: -15px -16px;
    padding: 15px 16px;
    display: block;
    color: #333;
    @include clearfix();

    &:hover {
      text-decoration: none;
      background: #f9f9f9;
    }
  }

  .list-group-item-icon {
    float: left;
  }

  .list-group-item-icon + .list-group-item-content {
    margin-left: 24px;
  }

  .list-group-item-avatar {
    float: left;
  }

  .list-group-item-avatar + .list-group-item-content {
    margin-left: 60px;
  }

  .list-group-item-actions {
    margin-top: $padding-base-vertical;
    margin-right: -$padding-base-horizontal;
    margin-bottom: -$padding-base-vertical;
    margin-left: -$padding-base-horizontal;

    .btn {
      color: $gray-light;

      &:hover {
        color: $gray-dark;
      }

      &:active {
        @include box-shadow(none);
      }
    }

    .btn-group.open .dropdown-toggle {
      color: #555;
      @include box-shadow(none);
    }
  }
}

.list-group-campo.recordable {
  a.list-group-item:visited {
    .list-group-item-heading {
      color: $gray-light;
    }
  }
}

.pagination-campo {
  .btn-pages {
    &:hover {
      //box-shadow: none;
    }
  }

  .pages {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix();

    .page {
      display: block;
      float: left;

      &.gap {
        .btn {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .btn {
      padding: 3px 9px;
      margin: 0 1px;

      &.active,
      &:hover {
        background: $brand-primary;
        color: white;
      }
    }
  }

  .popover {
    max-width: 480px;
  }

  .popover-content {
    padding: 4px;
  }
}

article {
  word-wrap: break-word;

  img {
    max-width: 100%;
  }

  code {
    white-space: normal;
    word-break: break-all;
  }

  blockquote {
    font-size: 1em;
  }
}
