.comment {
  .list-group-item-heading {
    margin-bottom: $line-height-computed / 2;
    color: $gray-light;

    a {
      color: $gray-light;
    }

    .comment-user {
      b {
        color: $gray-dark;
      }

      &:hover {
        text-decoration: none;

        b {
          color: $link-hover-color;
          text-decoration: underline;
        }
      }
    }
  }

  .list-group-item-actions {
    .liked {
      color: $brand-danger;

      &:hover {
        color: $brand-danger;
      }
    }
  }
}

.commentable {
}
