.comment {
  @include clearfix();

  .comment-avatar {
    float: left;
    width: 48px;
    height: 48px;
  }

  .comment-heading {
    margin-left: 60px;
    margin-bottom: $line-height-computed / 2;

    .author {
      font-weight: bold;
    }

    .date {
      float: right;
      color: #999;
    }
  }

  .comment-body {
    margin-left: 60px;
  }

  .comment-actions {
    margin-left: 60px;
    margin-right: -$padding-base-horizontal;

    .btn {
      color: #aaa;

      &:hover {
        color: #555;
      }

      &:active {
        @include box-shadow(none);
      }
    }

    .btn-group.open .dropdown-toggle {
      color: #555;
      @include box-shadow(none);
    }

    .liked {
      color: $brand-danger;

      &:hover {
        color: $brand-danger;
      }
    }
  }
}
