.notifications-bell {
  position: relative;

  .badge {
    background: $brand-primary;

    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

.notification {
  &.read {
    .notification-link {
      color: #999;
    }
  }

  .notification-link {
    margin: -15px -16px;
    padding: 15px 16px;
    display: block;
    color: #333;
    @include clearfix();

    &:hover {
      text-decoration: none;
      background: #f9f9f9;
    }
  }

  .notification-actions {
    margin-top: -$padding-base-vertical;
    margin-right: -$padding-base-horizontal;
    float: right;

    .btn {
      color: $gray-light;

      &:hover {
        color: $gray-dark;
        box-shadow: none;
      }
    }
  }
}
