.post {
  .avatar {
    width: 48px;
    height: 48px;
    float: left;
  }

  .metadata,
  .text,
  .actions {
    margin-left: 60px;
  }

  .metadata {
    margin-bottom: 10.5px;
  }

  .post-number {
    float: right;
    color: #aaa;
  }

  .author {
    margin-right: 5px;
    font-weight: bold;
  }

  .date {
    color: #999;
  }

  .actions {
    margin-top: 10.5px;

    .btn {
      color: #999;

      &:hover {
        color: #555;
        @include box-shadow(none);
      }
    }

    .btn:first-child {
      margin-left: -12px;
    }

    .btn:last-child {
      margin-right: -12px;
    }

    .btn[data-vote="up"][data-voted] {
      color: $btn-success-bg;
    }

    .btn[data-vote="down"][data-voted] {
      color: $btn-danger-bg;
    }

    .votes {
      padding: 6px 12px;
      display: inline-block;
      vertical-align: middle;
      color: #999;

      &.up {
        color: $btn-success-bg;
      }

      &.down {
        color: $btn-danger-bg;
      }
    }
  }
}

.form-post textarea {
  height: 8em;
  resize: vertical;
}
