.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  .post {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    @include clearfix();

    &:last-child {
      border-bottom: none;
    }

    .avatar {
      width: 48px;
      height: 48px;
      float: left;

      img {
        width: 48px;
        height: 48px;

      }
    }

    .content {
      margin-left: 48px;
      padding-left: 15px;
    }

    .metadata {
      margin-bottom: 10.5px;
    }

    .author {
    }

    .date {
      float: right;
      color: #999;
    }

    .text {
      word-wrap: break-word;
      word-break: break-all;
    }

    .actions {
      margin-top: 10.5px;

      .btn {
        color: #999;

        &:hover {
          color: #555;
          text-decoration: none;
        }

        &:active {
          @include box-shadow(none);
        }

        &:last-child {
          margin-right: -12px;
        }
      }
    }
  }
}

.form-post {
  textarea {
    height: 8em;
    resize: vertical;
  }
}
