.post {
  .avatar {
    width: 48px;
    height: 48px;
    float: left;
  }

  .metadata,
  .text,
  .actions {
    margin-left: 60px;
  }

  .metadata {
    margin-bottom: 10.5px;
  }

  .post-number {
    float: right;
    color: #aaa;
  }

  .author {
    margin-right: 5px;
    font-weight: bold;
  }

  .date {
    color: #999;
  }

  .actions {
    margin-top: 10.5px;
    margin-bottom: -12px;

    .btn {
      color: #999;

      &:hover {
        color: #555;
        @include box-shadow(none);
      }
    }

    .post-like.active {
      color: $brand-danger;
      @include box-shadow(none);
    }

    .pull-left {
      margin-left: -12px;
    }

    .pull-right {
      margin-right: -12px;
    }
  }
}

.form-post textarea {
  height: 8em;
  resize: vertical;
}

.form-post .preview {
  min-height: 8em;
}
