.posts {
  margin-bottom: 15px;

  .post {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    @include clearfix();

    .header {
      @include clearfix();
      margin-bottom: 10.5px;
    }

    .avatar {
      height: 48px;
      width: 48px;
      float: left;
    }

    .metadata {
      margin-left: 48px;
      padding-left: 12px;
    }

    .author {
      font-weight: bold;
    }

    .date {
      color: #999;
    }

    .text {
      word-wrap: break-word;
      word-break: break-all;
    }

    .actions {
      margin-top: 10.5px;

      .btn {
        color: #999;

        &:hover {
          color: #555;
          text-decoration: none;
        }

        &:active {
          @include box-shadow(none);
        }

        &:first-child {
          margin-left: -12px;
        }
      }
    }
  }
}

.form-post {
  textarea {
    height: 8em;
    resize: vertical;
  }
}
