.post-vote {
  .score {
    padding: 6px 12px;
    display: inline-block;
    vertical-align: middle;
    color: #999;

    &.up {
      color: $btn-success-bg;
    }

    &.down {
      color: $btn-danger-bg;
    }
  }

  .btn.post-vote-up {
    &:hover,
    &.active {
      color: $btn-success-bg;
      @include box-shadow(none);
    }
  }

  .btn.post-vote-down {
    &:hover,
    &.active {
      color: $btn-danger-bg;
      @include box-shadow(none);
    }
  }
}
