.list-group-topic {
  margin: 0 -16px;
  padding: 0;
  list-style: none;
}

.list-group-item-topic {
  padding: 16px;
  border-bottom: 1px solid #eee;

  &:first-child {
    border-top: 1px solid #eee;
  }
}


.topic {
  margin: -15px 0;

  a {
    display: block;
    padding: 15px 0;
    color: #333;
    @include clearfix();

    &:hover {
      text-decoration: none;
    }
  }

  .icon {
    float: left;
    color: #999;
    line-height: inherit;
  }

  .content {
    margin-left: 24px;
  }

  .title {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    line-height: inherit;
  }

  .date {
    float: right;
    font-weight: normal;
    color: #999;
  }

  .extra {
    color: #999;
  }
}

.form-topic textarea {
  height: 12em;
  resize: vertical;
}

.form-topic .preview {
  min-height: 12em;
}
