.topics {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #ddd;
    @include clearfix();

    a {
      display: block;
      padding: 15px 0;
      color: #333;
      @include clearfix();

      &:hover {
        text-decoration: none;
      }
    }

    .avatar {
      width: 48px;
      height: 48px;
      float: left;

      img {
        width: 48px;
        height: 48px;

      }
    }

    .content {
      margin-left: 48px;
      padding: 2px 0 2px 15px;
    }

    .title {
      margin: 0;
      font-size: 1em;
      font-weight: bold;
      display: inline;
    }

    .date {
      float: right;
      color: #999;
    }

    .extra {
      margin-top: 2px;
      color: #999;
    }
  }
}

.topic-title {
  margin: 0 0 10px;
}

.form-topic {
  textarea {
    height: 18em;
    resize: vertical;
  }
}
