.topic {
  margin: -15px -16px;

  a {
    display: block;
    padding: 15px 16px;
    color: #333;
    @include clearfix();

    &:hover {
      text-decoration: none;
    }
  }

  .icon {
    float: left;
    color: #999;
    line-height: inherit;
  }

  .content {
    margin-left: 24px;
  }

  .title {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    line-height: inherit;
  }

  .date {
    float: right;
    font-weight: normal;
    color: #999;
  }

  .extra {
    color: #999;
  }
}

.form-topic textarea {
  height: 12em;
  resize: vertical;
}

.form-topic .preview {
  min-height: 12em;
}
