<!DOCTYPE html>
<html>
  <head>
    <title>Campo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui inverted main menu">
      <div class="container">
        <div class="title item">Campo</div>
        <div class="right menu">
          <a class="item">Sign in</a>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
